@font-face {
    font-family: 'Libre Caslon Display';
    src: url('font/LibreCaslonDisplay-Regular.ttf') format('Regular');
}

body{
    width: 100%;
    margin: auto;
}

main{
    width: 100%;
    background-image: linear-gradient(to bottom, #d7e4fc 0%, #6c7a9c 100%);
}

section{
    
}

nav{
    width: 60%;
    display: flex;
    justify-content: end;
    margin: auto;
}
nav p{
    font-size: 1.4em;
}
.navigation p {
    padding-right: 10%;
}

header{
    width: 100%;
    height: 120vh;
    background: url(img/fon.png);
    background-repeat: no-repeat; /* Запрещает повторение изображения */
    background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь элемент */
    background-position: center; /* Центрирует изображение внутри элемента */
}

.a{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.nav{
    font-size: 1.5rem;
    margin: auto;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
}

a.nav:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a.nav:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed; /* Закрепление блока */
    top: 0; /* Привязка к верхней части экрана */
    left: 0; /* Привязка к левой части экрана */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Плавный переход фона и размытия */
    z-index: 1000; /* Установить высокий z-index, чтобы навигация была выше других элементов */
}
.navigation.scrolled {
    background-color: rgba(0, 0, 0, 0.1); /* Темный фон после прокрутки */
    backdrop-filter: blur(2px); /* Эффект размытия */
}

.log{
    width: 40%;
    padding-left: 2%;
    letter-spacing: 0.5em;
    display: flex;
    margin: 0%;
}
.log p{
    padding-top: 0.7%;
    margin: 0;
    font-size: 4em;
}
.log a{
    color: white;
    text-decoration: none;
}
.inf{

    height: 80vh;
}
.inf_1{
    padding-left: 5%;
    color: white;
    font-size: 4em;
    letter-spacing: 0.08em;
    padding-top: 6%;

}

.inf_1 p{
    margin: 0%;
}

.inf_2{
    padding-left: 5%;
    color: white;
    font-size: 2.5em;
    font-family: 'Lusitana';
    letter-spacing: 0.01em;
    
}


.name{
    color: #5a97d8;
    font-size: 4em;
    width: 100%;
    height: 15vh;
}
.name h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 0.1em;
    margin: auto;
    padding-top: 7.6%;
}


.name-line{
    background-color: #5a97d8;
    width: 100%;
    height: 5vh;
    margin-top: 12%; 
    position: absolute;
}

/* Наши проекты */
.o_project{
    padding-top: 4%;
    height: auto;
    width: 85%;
    margin: auto;
    font-size: 2em;
    letter-spacing: 0.1em;
}
.project{
    display: flex;

    display: flex;
        flex-flow: wrap;
        justify-content: space-between;

    
}
.project h1{

}
.o_project h1{
    font-size: 2em;
    /* font-family: sans-serif; */
}
.project_block{
    width: 100%; 
    display: flex;
    justify-content: end;
}
.project_block_1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(1600px);
}

.project_block img{
    width: 65vh;
    height: 55vh;
    border-radius: 15px; 
    transition: transform 0.3s ease; /* Плавный переход при наведении */
}
.project_block img:hover {
    transform: scale(1.1); /* Увеличение размера при наведении */
}

.project_block_1 img:hover {
    transform: scale(1.1); /* Увеличение размера при наведении */
}
.project_block_1 img{
    width: 65vh;
    border-radius: 15px;
    transition: transform 0.3s ease;
}


.project_block_2{
    margin: auto;
}
.project_block_2 img{
    width: 65vh;
    box-shadow: 1px 1px 40px #000;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.project_block_2 img:hover {
    transform: scale(1.1); /* Увеличение размера при наведении */
}


.project_block_1_i img{
    width: 65vh;
    height: 55vh;
    border-radius: 15px;
    transition: transform 0.3s ease;
}













/* Почему выбирают нас? */
.sec_vibor{
    display: flex;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    background-color: #93a0bd;
    border-radius: 100px;
    margin-top: 10%;

}

.vibor{
    display: flex;
    width: 100%;
    background-color: #93a0bd;
    border-radius: 100px;
}

.vibor_text{
    margin-top: 3%;
    font-size: 4em;
    padding-left: 5%;
    position: absolute;

}
.vibor_text h3{
    
}
.vibor_block{
    display: flex;
    margin-left: 45%;
    width: 50%;
    background-color: #cbcfd9;
    border-radius: 40px;
    height: 100%;
    margin-top: 5%;
    justify-content: space-around;
    
}

.vibor_block_text{
    width: 30%;
    text-align: center;
    font-size: 1.5em;
}
.vibor_block_text h1{
    font-size: 2em;
    font-family: 'Times New Roman', serif
}
.vibor_block_text p{
    
}

.block_li{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10%;
}
.block_li_text{
    width: 15%;
    font-size: 1.7em;
    background-color: #cbcfd9;
    padding: 1% 2% 2% 2%;
    border-radius: 20px;
    margin-bottom: 5%;
    opacity: 0;
    transform: translateY(100px); /* Начальное состояние - смещение вниз */
}


/* О нас */
.Sec_o_nas{
    width: 90%;
    padding-top: 5%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Sec_o_nas h1{
    font-size: 3em;
    
}

.o_nas_text{
    margin-top: 3%;
    padding: 5%;    
    font-size: 1.8em;
    padding-left: 5%;
    position: absolute;
    width: 35%;
    
}
.pictures_o_nas{
    margin-top: 10%;
    width: 50%;
    height: 100vh;
}
.pictures_o_nas img{
    border-radius: 15px;
    width: 100%;
    box-shadow: -200px 250px #8795b7;
}

/* Отзывы */

.sec_otzivi{
    display: flex;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 5%;
}
.otzivi{
    width: 90%;
    height: 100vh;
    margin: auto;
    text-align: center;
}
.otzivi h1{
    font-size: 4em;
}


 .slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left: 3%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 20%;
    padding: 10px;
    text-align: center;
    background-color: #ACB8CF;
    margin-right: 15%;
    border-radius: 20px;
    font-size: 1.1em;
}

.slide img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-top: 8%;
    object-fit: cover;
}

.slide p{
    margin: auto;
    width: 90%;
    padding-bottom: 15%;
}

.strelki {
    text-align: right;
    margin-top: 2%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}


.sec_kon{
    padding-top: 6%;
    display: flex;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    background-color: #acb8cf ;
    padding-bottom: 3%;
}

.kon{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 90%;
}

.kon_text{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}
.kon_text h1{
    margin-top: auto;
    font-size: 3.5em;
}
.kon_text h2{
    margin: auto;
    font-size: 2.5em;
}
.kon_text p{
    margin-top: auto;
    font-size: 2em;
}


/* Подвал */

.poka{
    background-image: linear-gradient( to bottom, #6d7b9c 0%, #6c7a9c 100%);
    color: white;
    align-self: flex-end;
    float: left;
    width: 100%;
    padding-bottom: 2%;
}

.Sec_o_nas_icon{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #8795b7;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 10%;
     /* Элемент будет виден после прокрутки */
    opacity: 0;
    transform: scale(1.2);
}

.Sec_o_nas_icon img{
    width: 80px;
    height: 80px;
    margin-top: 9%;
    margin-left: 10%;
    padding-right: 50%;
}

.img1 img{
    width: 75px;
    height: 75px;
    margin-top: 9%;
    margin-left: 10%;
    padding-right: 50%;
}

.Sec_o_nas_icon p{
    
}

.log_f a{
color: white;
text-decoration: none;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.divf1{
    margin: auto;
    margin-top: 3%;
    width: 90%;
    border-top: 3px solid;
}

.nav-2{
}


.footer_1{
    display: flex;
    margin-top: 3%;
}

.log_f{
    width: 25%;
    letter-spacing: 0.5em;
    margin: 0%;
}
.log_f p {
    font-size: 4em;
    margin: auto;
}

.nav_1{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}


a.nav-2{
    letter-spacing: 0.1em;
    font-size: 2rem;
    margin: auto;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-bottom: 3%;
}
p.nav-2{
    font-size: 2rem;
    margin: auto;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}

a.nav-2:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

a.nav-2:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
} 

.nav-3{
    display: flex;
    justify-content: space-between;
}
a.nav-3{
    letter-spacing: 0.1em;
    font-size: 2rem;
    margin: auto;
    position: relative;
    cursor: pointer;

}

.nav_1_1{
    margin: 0;
}

.slide-in{
    opacity: 0;
    transform: translateY(-50px);
    animation: slide-in 2s forwards;
}

.slide-in_1{
    opacity: 0;
    transform: translateY(-50px);
    animation: slide-in 2s forwards;
}

.slide-in_2{
    opacity: 0;
    transform: translateY(-50px);
    animation: slide-in 2s forwards;
    padding-left: 10%;
}
.slide-in_3{
    opacity: 0;
    transform: translateY(-50px);
    animation: slide-in 2s forwards;
    padding-left: 20%;

}



@media (prefers-reduced-motion: no-preference) {
    .Sec_o_nas_icon {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

.slide-in_4 {
    opacity: 0;
    transform: translateX(-100px);
    animation: slide-in 1s forwards;
}

.delay-5 {
    animation-delay: 0s;
}


@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



@media (prefers-reduced-motion: no-preference) {
    .block_li_text {
        transition: opacity 2s ease, transform 2s ease;
    }
    .project{
        transition: opacity 1s ease, transform 2s ease;
    }
    .project_block_1{
        transition: opacity 1s ease, transform 2s ease;
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0); /* Конечное состояние - без смещения */
}

.fade-in_1 {
    opacity: 1;
    transform: translateX(0); /* Конечное состояние - без смещения */
}



/* Задержки для последовательного появления элементов */
.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 0.5s;
}

.delay-3 {
    animation-delay: 1s;
}
.delay-4 {
    animation-delay: 1.5s;
}

.delay-5 {
    animation-delay: 1s;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




 /* Media queries для экранов от 1920x1080 до 2560x1440 */
 @media  (min-width: 2500px) {
    .navigation {
        font-size: 2em;
    }
    a.nav{
        font-size: 1.1em;
        text-align: center;
        width: auto;
    }
    nav{
        width: 65%;
    }
    .o_nas_text p{
        font-size: 1.4em;
    }
    .vibor_block_text{
        font-size: 2em;
    }
    .block_li_text{
        font-size: 2em;
    }
    .vibor_text h3{
        margin-top: 2%;
        font-size: 1.7em;
    }
    .sec_vibor{
        margin-top: 0%;
    }
    .slide{
        min-width: 23%;
        font-size: 1.8em;
        margin-right: 10%;
    
    }
    nav{
        margin: auto;
    }
    nav p{
        font-size: 1.1em;
    }
    .inf_1{
        padding-top: 10%;
        font-size: 5em;
    }
    .inf_2{
        font-size: 3em;
    }
    .kon_text{
        font-size: 1.4em;
    }
    .name h1{
        text-align: center;
        font-size: 5em;
        padding-top: 9.3%;
    }
    .project{
            display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    }
    
    .project_block_2{
        margin: auto;
    }
    .project_block_2 img{
        width: 65vh;
        box-shadow: 1px 1px 40px #000;
        border-radius: 15px;
        transition: transform 0.3s ease;
    }

    .project_block_2 img:hover {
        transform: scale(1.1); /* Увеличение размера при наведении */
    }


    .project_block_1_i img{
        width: 65vh;
        height: 55vh;
        border-radius: 15px;
        transition: transform 0.3s ease;
    }


}

/* 2560 x 1440 */